.env
__pycache__/
*.py[cod]
*.pyc
__pycache__/registration.cpython-314.pyc
__pycache__/lead_call.cpython-314.pyc
__pycache__/routes.cpython-314.pyc
uat-xnapi/admin-panel/node_modules/
uat-xnapi/node_modules/.env
uat-xnapi/admin-panel/.env.local
uat-xnapi/admin-panel/.env.production

