# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Test artefacts
.pytest_cache/
.coverage
htmlcov/
tests/

# Database files
*.db
*.sqlite3

# Docker & CI
.dockerignore
docker-compose*.yml
Dockerfile*

# Editor & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Git
.git/
.gitignore
